* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Outfit', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background: url('./assets/storm.gif') no-repeat center center fixed;
  background-size: cover; 
  color: #fff;
  height: 100%; /* Ensure the body covers the entire viewport */
}

p {
  font-size: 1.6rem;
}

h1 {
  font-size: 6rem;
}

.app {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0,0,0,0.4); 
}

.app .search {
  text-align: center;
  padding: 2rem;
}

.app input {
  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(255,255,255, 0.8);
  background: rgba(255,255,255, 0.1);
  color: #f8f8f8;
}

::placeholder {
  color: #f8f8f8;
}

.container {
  max-width: 800px;
  height: 800px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 1%;
  display: flex;
}

.app .description{
  padding-bottom: 50px;
  padding-top: 40px;
}

.left-container {
  width: 65%; 
}

.right-container {
  width: 35%;
  padding: 0 5rem;
}

.app .top {
  width: 100%
} 

.app .current_weather {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255,255,255, 0.2);
}

.bold {
  font-weight: 700;
}

.forecast-container {
  display: flex;
  overflow-x: auto;
  margin-top: 20px;
}

.forecast-item {
  flex: 0 0 auto;
  margin-right: 10px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.forecast-time {
  font-size: 16px;
  font-weight: bold;
}

.forecast-icon img {
  width: 50px;
  height: 50px;
}

.forecast-temp {
  font-size: 16px;
}

.daily-forecast-container {
  width: 300px; 
  height: 550px;
  overflow-y: auto;
  padding: 10px;
}

.scroll-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.daily-forecast-item {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.daily-forecast-item div {
  margin-bottom: 5px;
}

.daily-forecast-item div:first-child {
  font-weight: bold;
}

.daily-forecast-item img {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}

.news-display-container {
  display: flex;
  flex-wrap: wrap; /* Wrap articles onto multiple rows */
  justify-content: center;
  overflow-x: auto;
  padding: 20px 0;
  margin-bottom: 20px; 
}

.news-article {
  margin: 0 10px 20px; 
  text-align: center;
  flex: 0 0 calc(25% - 20px); /* Set each article to occupy 25% of the container width */
  max-width: 300px; /* Maximum width for each article */
}

#news-title {
  text-align: center;
  font-size: 33px;
  font-style: italic;
  padding-bottom: 20px;
}

.revealable {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.revealable.active {
  opacity: 1;
}
